---


---


<template>
    <!-- A NotePad window -->
    <header>
        <div>Close Btn</div>
    </header>
    <section>
        <textarea></textarea>
    </section>
</template>


<style>



</style>

<script>


</script>